body {
  margin: 0 auto;
  //min-width: 1200px;
  font-size: 0;
}
.header {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 0 0 35px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  &--pull-right {
    text-align: right;
  }
}
.logo {
  margin: 51px 0 0 0;
  &--pull-left {
    float: left;
  }
}
.nav {
  margin: 24px 35px 0 0;
  &__text {
    font-size: 15px;
    color: #333333;
    text-decoration: none;
    margin: 0 23px 0 0;
  }
  &__switcher {
    display: inline-block;
    vertical-align: top;
  }
  &__chose {
    border: 1px solid #cccccc;
    color: #cccccc;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
    cursor: pointer;
    &--active {
      color: #000000;
      border: 1px solid #000;
    }
  }
}
.main-nav {
  margin: 40px 35px 0 0;
  &__item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0 21px 0 0;
    &--left-border {
      &:before {
        content: '';
        background: #333333;
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 16px;
        margin: 0 26px 0 0;
      }
    }
    &:last-of-type {
      margin: 0;
    }
  }
  &__link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-size: 16px;
    &--search {
      background: url("../src/assets/icon-search.png");
      width: 25px;
      height: 27px;
    }
  }
}
.slider {
  display: inline-block;
  vertical-align: top;
  background-image: url("assets/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  text-align: center;
  padding: 115px 0 0 0;
  &--w75 {
    width: 75%;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
  }
  &__title {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    margin: 32px 0 0 -2px;
  }
  &__text {
    font-size: 16px;
    color: #ffffff;
    margin: 30px 0 0 0;
    line-height: 23px;
  }
  &__nav {
    margin: 0 0 0 0;
  }
  &__link {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    margin: 0 14px 0 -3px;
    &--l-border {
      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: -6px;
        width: 1px;
        height: 14px;
        background: #fff;
      }
    }
    &--r-border {
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        right: -20px;
        width: 1px;
        height: 14px;
        background: #fff;
      }
    }
  }
}
.aside {
  display: inline-block;
  vertical-align: top;
  height: 400px;
  background: #323232;
  &--w25 {
    width: 25%;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
  }
  &__title {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin: 36px 0 0 37px;
  }
  &__text {
    font-size: 17px;
    color: #ffffff;
    margin: 27px 20px 0 32px;
    line-height: 24px;
  }
  &__btn {
    display: block;
    background: #323232;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin: 9px 0 0 37px;
    width: 152px;
    height: 34px;
    text-transform: uppercase;
    border: 1px solid #fff;
  }
  &__select {
    display: block;
    background: #323232;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 27px 0 0 37px;
    text-indent: 10px;
    width: 152px;
    height: 34px;
    border: 1px solid #fff;
  }
}
.article {
  display: inline-block;
  vertical-align: top;
  position: relative;
  &--w50 {
    width: 50%;
  }
  &__title {
    position: absolute;
    top: 143px;
    width: 470px;
    left: 66px;
    line-height: 28px;
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
  }
  &__text {
    position: absolute;
    top: 236px;
    left: 58px;
    width: 480px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
  }
  &__image {
    width: 100%;
  }
}
#charts {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .body {
    min-width: auto;
  }
  .slider {
    width: 50%;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
  }
  .aside {
    width: 50%;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
    &__controls {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 80px 0 0 0;
    }
    &__select {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
    &__btn {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 37px;
    }
  }
}
